In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
data = {
    "Hours" : [1,2,3,4,5,6,7,8],
    "Score" : [30,24,23,45,67,85,34,47]
}
df = pd.DataFrame(data)
df

   Hours  Score
0      1     30
1      2     24
2      3     23
3      4     45
4      5     67
5      6     85
6      7     34
7      8     47

In [4]:
X = df[["Hours"]]   # input
y = df["Score"]     # output

X, y

(   Hours
 0      1
 1      2
 2      3
 3      4
 4      5
 5      6
 6      7
 7      8,
 0    30
 1    24
 2    23
 3    45
 4    67
 5    85
 6    34
 7    47
 Name: Score, dtype: int64)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.25,
    random_state=42
)

X_train, X_test

(   Hours
 0      1
 7      8
 2      3
 4      5
 3      4
 6      7,
    Hours
 1      2
 5      6)